/* font-family: 'Playfair Display', serif; */
/* font-family: 'Raleway', sans-serif; */

/* ELEMENT STYLES */
body{
  margin: 0;
  padding: 0;
}
a:hover{ 
  transform: scale(1.15);
}

hr{ 
  border: 5px solid white;
  margin-bottom: 50px;
}


/* UTILITY CLASSES */

.padding-set{padding: 2vh 8.3vw 2vh 8.3vw }

.container-flex { display:flex; }
.container-block { display:block; }

.btn {
  font-family: 'Playfair Display', serif;
  font-size: 24px; 
  border-radius: 50px;
  background: #D894EA;
  color: #fffffF;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  text-align: center;
}
.btn:hover { font-size: 28px; }

.imgCaption{
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
.socials-container{
  display: block;
  position: absolute;
  overflow: auto;
  top: 30%;
  right: 10px;
  z-index: 1;
}

.socials{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 24px;
  color: #000000;
}

.two-col-section{
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  width: 50%;
  margin-bottom: 50px;
}
.titles{
  font-size: 64px;
  padding-bottom: 0;
}

/* NAV STYLES */
nav{ 
    height: 50px; 
    font-family: 'Raleway', sans-serif; 
}

#dropbtn {
  padding: 15px;
  font-size: 36px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
  .dropbtnopen { background-color: #b679a1; }
  
  .dropdown {
    float: right;
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px 0 10px 10px;
    background-color: #e5e5e5;
    min-width: 160px;
    overflow: auto;
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: #b679a1}
  
  .show {display: block;}

/* ************ HOME STYLES START*********** */
/* BANNER STYLE */
#bannerImg{
  width: 75%;
  border-radius: 10px;
}
#title{
  margin-top: 25%;
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  background: #fffffF;
}

/* SUB-BANNER STYLES */

#sub-banner{ background-color: #D894EA; }

#sub-banner-one{
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

#sub-banner-one h2{ margin: 25px; }

#sub-banner-one img{
  width: 300px;
  border-radius: 500px;
  box-shadow: 20px 0px #9ec97a;
  
}

#sub-banner-two img{
  width: 300px;
  box-shadow: -25px 25px #EFD082;
  z-index: 1;
}

.quote-card{
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #fffffF;  
}
.quote-card p:nth-child(1){
  font-family: 'Playfair Display', serif; 
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  text-decoration: underline;
}
.quote-card p:nth-child(2){
  font-family: 'Raleway', sans-serif; 
  line-height: 2em;
  font-size: 30px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: auto;
}

/* ************ HOME STYLES END *********** */
/* ************ ABOUT STYLES START *********** */

#about img{
  width: 500px;
  border-radius: 15px;
  box-shadow: -20px 20px #9ec97a;
}
#about p{
  font-family: 'Raleway', sans-serif;
  text-align: left;
}

/* ************ ABOUT STYLES END *********** */
/* ************ HOBBIES STYLES START *********** */
.hobbies-card{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}
.hobbies-card img{
  width: 300px;
  margin: 20px;
}

.hobbies-card:nth-child(1) img{
  border-radius: 500px;
  box-shadow: -20px 20px #9ec97a;
}

.hobbies-card:nth-child(2) img{
  filter: drop-shadow(16px 16px 10px black);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  border-bottom: 20px solid #D894EA;;
}

.hobbies-card:nth-child(3) img{
  box-shadow: -20px 20px#EFD082;
}

.hobbies-card h3{
  font-family: 'Playfair Display', serif; 
  font-size: 36px;
  margin: 0 0 20px 0;
}


/* ************ HOBBIES STYLES END *********** */





/* FOOTER */
footer{
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  background-color: #e5e5e5;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

footer a{
  padding-right: 10px;
}


@media screen and (max-width: 1200px) {
  #about img{
    width: 400px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 900px) {
  .quote-card p:nth-child(2){
    font-family: 'Raleway', sans-serif; 
    font-size: 20px;
  }
  .container-flex {
    width: auto;
    height: auto;
    display: block;
    text-align: center;
  }
  .two-col-section{
    width: auto;
  }
}

@media screen and (max-width: 600px) {
    
    #sub-banner-one{
      display: none;
    }
    hr{display: none;}
}
